{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, shrink-to-fit=no"
    />
    <title>Christian</title>
    <link
      rel="stylesheet"
      href="{% static 'bootstrap/css/bootstrap.min.css' %}"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Lora"
    />
    <link rel="stylesheet" href="{% static 'fonts/ionicons.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/styles.min.css' %}" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css"
    />
  </head>

  <body>
    <nav class="navbar navbar-light navbar-expand-md navigation-clean-button">
      <div class="container">
        <a class="navbar-brand" href="/">Pizza Co.</a
        ><button
          data-bs-toggle="collapse"
          class="navbar-toggler"
          data-bs-target="#navcol-1"
        >
          <span class="visually-hidden">Toggle navigation</span
          ><span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navcol-1">
          <ul class="navbar-nav me-auto">
            <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
            <li class="nav-item">
              <a class="nav-link" href="/about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/products">Products</a>
            </li>
            <li class="nav-item"><a class="nav-link" href="/dashboard">Dashboard</a></li>
          </ul>
          <span class="navbar-text actions">
            <a class="login" href="/login">Log In</a
            ><a class="btn btn-light action-button" role="button" href="/signup"
              >Sign Up</a
            ></span
          >
        </div>
      </div>
    </nav>
    <div
      class="
        bg-light
        border
        rounded
        border-light
        hero-technology
        jumbotron
        py-5
        px-4
      "
    ></div>
    <section class="projects-clean"></section>
    <section class="article-clean">
      <div class="container">
        <div class="row">
          <div class="col-lg-10 col-xl-8 offset-lg-1 offset-xl-2">
            <div class="intro"></div>
            <!-- <div class="about-div"></div> -->
            <h1>About Us</h1>
            <header></header>
            <div class="text">
              <p>
                Come try our pizza, it's the greatest pizza, all other pizzas
                are not real pizza
                <span style="text-decoration: underline">Excelsior!</span> We
                started our pizza company in 23 BCE
              </p>
              <p>
                and our mission was to create the best pizza ever.
                <strong>Think you've had better? I think not.</strong> Our pizza
                is made with real cheese and hardly any wood chips, we grow the
                best and freshes tomatoes from the tomatoes factory, and our
                dedicated employees from the communist party of china love to
                work day and night to deliver to your door everyday, rarely
                taking any breaks.
              </p>
              <figure class="figure d-block"></figure>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="highlight-phone">
      <div class="container">
        <div class="row">
          <div class="col-md-8">
            <div class="intro">
              <h2>We Deliver! Give us a call!</h2>
              <p>
                Give us a call and we'll set out to make your delivery in thirty
                minutes or less guaranteed!
              </p>
              <a class="btn btn-primary" role="button" href="#"
                >Call us today</a
              >
            </div>
          </div>
          <div class="col-sm-4">
            <div class="d-none d-md-block phone-mockup">
              <img class="device" src="{% static 'img/phone.svg' %}" />
            </div>
          </div>
        </div>
      </div>
    </section>
    <footer class="footer-basic">
      <div class="social">
        <a href="#"><i class="icon ion-social-instagram"></i></a
        ><a href="#"><i class="icon ion-social-snapchat"></i></a
        ><a href="#"><i class="icon ion-social-twitter"></i></a
        ><a href="#"><i class="icon ion-social-facebook"></i></a>
      </div>
      <ul class="list-inline">
        <li class="list-inline-item"><a href="#">Home</a></li>
        <li class="list-inline-item"><a href="#">Services</a></li>
        <li class="list-inline-item"><a href="#">About</a></li>
        <li class="list-inline-item"><a href="#">Terms</a></li>
        <li class="list-inline-item"><a href="#">Privacy Policy</a></li>
      </ul>
      <p class="copyright">PizzaCo © 2021</p>
    </footer>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
    <script src="{% static 'js/script.min.js' %}"></script>
  </body>
</html>
