{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Dashboard</title>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora">
    <link rel="stylesheet" href="{% static 'fonts/ionicons.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.min.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css">
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-md navigation-clean-button">
        <div class="container"><a class="navbar-brand" href="/">Pizza Co.</a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="/about">About</a></li>
                    <li class="nav-item"><a class="nav-link" href="/products">Products</a></li>
                    {% if user.is_authenticated %}
                    <li class="nav-item"><a class="nav-link" href="/dashboard">Dashboard</a></li>
                    <span class="navbar-text actions"> <a class="login" href="accounts/logout">Logout</a>
                        {% else %}
                        <span class="navbar-text actions">
                            <a class="login" href="accounts/login">Log In</a>
                            <a class="login" role="button" href="accounts/register">Sign Up</a></span>
                        </ul>
                            {% endif %}
            </div>
        </div>
    </nav>
    <div class="bg-light border rounded border-light hero-technology jumbotron py-5 px-4"></div>
    <section class="contact-clean">
      <form method="post" action="add_idea">
        {% csrf_token %}  
        <h2 class="text-center">Submit a complaint</h2>
        <div class="mb-3"><input class="form-control" type="text" name="name" placeholder="Name"></div>
        <div class="mb-3"><textarea class="form-control" name="desc" placeholder="Description" rows="14"></textarea></div>
        <div class="mb-3">
          <!-- <input class="form-control mb-3" type="number" name="price" placeholder="Price ($)"></div> -->
        <!-- <input class="form-control mb-3" type="file" name="imgURL"> -->
        <div class="mb-3"><button class="btn btn-primary" type="submit">Submit</button></div>
      </form>
    </section><div class="photo-gallery">
      <div class="container-fluid">
        <div class="px-lg-5">
          {% block content %}
          
          {% for idea in idea %}
          <div class="row">     
                    <!-- Gallery item -->
                    <div class="col-xl-3 col-lg-4 col-md-6 mb-4">
                      <!-- <div class="bg-white rounded shadow-sm"><img src="{{idea.imgURL.url}}" alt="" class="img-fluid card-img-top"> -->
                        <h5> <a href="#" class="text-dark">{{idea.name}}</a></h5>
                        <p class="small text-muted mb-0">{{idea.desc}}</p>                    
                        <div class="p-4">
                            <!-- <h4>${{idea.price}}</h4> -->
                        </div>
                      </div>
                    </div>
                    {% endfor %}

                    {% endblock content %}
                    <!-- End -->
          </div>
    </div>
    </div>
  </div>
</div>
</div>
    <footer class="footer-basic">
        <div class="social"><a href="#"><i class="icon ion-social-instagram"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-facebook"></i></a></div>
        <ul class="list-inline">
            <li class="list-inline-item"><a href="#">Home</a></li>
            <li class="list-inline-item"><a href="#">Services</a></li>
            <li class="list-inline-item"><a href="#">About</a></li>
            <li class="list-inline-item"><a href="#">Terms</a></li>
            <li class="list-inline-item"><a href="#">Privacy Policy</a></li>
        </ul>
        <p class="copyright">PizzaCo © 2021</p>
    </footer>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
    <script src="{% static 'js/script.min.js' %}"></script>
</body>
</html>