{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora">
    <link rel="stylesheet" href="{% static 'fonts/ionicons.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.min.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css">
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-md navigation-clean-button">
        <div class="container"><a class="navbar-brand" href="/">Pizza Co.</a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="/about">About</a></li>
                    <li class="nav-item"><a class="nav-link" href="/products">Products</a></li>
                    {% if user.is_authenticated %}
                    <li class="nav-item"><a class="nav-link" href="/dashboard">Dashboard</a></li>
                    <span class="navbar-text actions"> <a class="login" href="accounts/logout">Logout</a>
                        {% else %}
                        <span class="navbar-text actions">
                            <a class="login" href="accounts/login">Log In</a>
                            <a class="login" role="button" href="accounts/register">Sign Up</a></span>
                        </ul>
                            {% endif %}
            </div>
        </div>
    </nav>
    <div class="bg-light border rounded border-light hero-technology jumbotron py-5 px-4"></div>
    <section class="register-photo">
        <div class="form-container">
            <div class="image-holder"></div>
            <form action="login" method="post">
                {% csrf_token %}
                <h2 class="text-center"><strong>Sign in </strong>to your account</h2>
                <div class="mb-3"><input class="form-control" type="text" name="username" placeholder="Username"></div>
                <div class="mb-3"><input class="form-control" type="password" name="password" placeholder="Password"></div>
                <div class="mb-3"><button class="btn btn-primary d-block w-100" type="submit">Sign In</button></div><a class="already" href="accounts/register">Don't have an account? Click here.</a>
            </form>
            <div class="text-center">
                {% for message in messages %}
                <h5> {{message}}  </h5>
                {% endfor %}
            </div>
        </div>
    </section>
    <section class="highlight-phone">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="intro">
                        <h2>We Deliver! Give us a call!</h2>
                        <p>Give us a call and we'll set out to make your delivery in thirty minutes or less guaranteed!</p><a class="btn btn-primary" role="button" href="#">Call us today</a>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="d-none d-md-block phone-mockup"><img class="device" src="{% static 'img/phone.svg' %}"></div>
                </div>
            </div>
        </div>
    </section>
    <footer class="footer-basic">
        <div class="social"><a href="#"><i class="icon ion-social-instagram"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-facebook"></i></a></div>
        <ul class="list-inline">
            <li class="list-inline-item"><a href="#">Home</a></li>
            <li class="list-inline-item"><a href="#">Services</a></li>
            <li class="list-inline-item"><a href="#">About</a></li>
            <li class="list-inline-item"><a href="#">Terms</a></li>
            <li class="list-inline-item"><a href="#">Privacy Policy</a></li>
        </ul>
        <p class="copyright">PizzaCo © 2021</p>
    </footer>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
    <script src="{% static 'js/script.min.js' %}"></script>
</body>

</html>