{% extends "base.html" %} {% block content %}
<div class="bg">
  <div class="card">
    <p class="txt">
      Currently I am 27 years old, a college student gaining my associates at
      Bryan University. I live in Rocklin, California located on the outskirts
      of the city of Sacramento. I was born in La mesa, San Diego and spent
      eight years in the Bay area. I love web development and helping others.
      I've learned html/css, JavaScript, ReactJs, Node, Databases like SQL and
      MongoDB, Http, Redux & context, Express, Apache, Docker and I am currently
      learning Python and Django. I hope to become self employed creating
      websites and web related products for consumers directly.
    </p>
    <p class="txt">
      I love to swim, play guitar, and video games. Lately my personal goal is
      to make sure I work out everyday, seeing that the pandemic has made me
      sluggish. I love to go on long walks on the hiking trail by my house and
      enjoy the wildlife. I'm also trying to eat healthier, focusing more on
      cooking my own food. Looking forward to the capstone, this assignment
      reminds me exactly of reactJs, a little more complicated but interesting
      none the less.
    </p>
  </div>
</div>
{% endblock %}
